:host {
    display: inline-block;
}

.column {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    transition: color 0.3s;
}