<div class="demo-container">
    <h1>STARS</h1>
    <div class="theme-switcher">
        <button (click)="changeTheme('common')">Common</button>
        <button (click)="changeTheme('dark')">Dark</button>
    </div>

    <div class="background"
        [ngClass]="(theme=='common')?'default-background':['sfc-component-dark-theme', 'dark-background']">
        <div class="component-container">

            <div class="component-row">
                <div>
                    <sfc-stars></sfc-stars>
                </div>

                <div>
                    <sfc-stars [value]="0.1"></sfc-stars>
                </div>

                <div>
                    <sfc-stars [value]="0.51"></sfc-stars>
                </div>
            </div>

            <div class="component-row">
                <div>
                    <sfc-stars [value]="0.99"></sfc-stars>
                </div>

                <div>
                    <sfc-stars [value]="4.75"></sfc-stars>
                </div>

                <div>
                    <sfc-stars [value]="1.75" [count]="3"></sfc-stars>
                </div>
            </div>

            <div class="component-row">
                <div>
                    <sfc-stars [value]="1.75" size="small"></sfc-stars>
                </div>

                <div>
                    <sfc-stars [value]="4.24" size="medium"></sfc-stars>
                </div>

                <div>
                    <sfc-stars [value]="3.874" size="large"></sfc-stars>
                </div>
            </div>

            <div class="component-row">
                <div>
                    <sfc-stars [value]="1.75" [custom-size]="{width: 10, height: 10}"></sfc-stars>
                </div>

                <div>
                    <sfc-stars [value]="1.75" [custom-size]="{width: 100, height: 100}"></sfc-stars>
                </div>

                <div>
                    <sfc-stars [value]="3.874" [count]="40"></sfc-stars>
                </div>
            </div>
        </div>
    </div>
</div>