<div class="demo-container">
    <h1>SCHEME</h1>
    <div class="theme-switcher">
        <button (click)="changeTheme('common')">Common</button>
        <button (click)="changeTheme('dark')">Dark</button>
    </div>

    <div class="background"
        [ngClass]="(theme=='common')?'default-background':['sfc-component-dark-theme', 'dark-background']">
        <div class="component-container">

            <div class="component-row">
                <div>
                    <sfc-scheme #scheme [formations]="formations" [formation-id]="formationId"
                        [player-formations]="playerFormations"></sfc-scheme>
                    <button (click)="getResult(scheme.playerFormations)">GET RESULT</button>
                </div>
            </div>
        </div>
    </div>
</div>